<%= form_for(@galerie) do |f| %>
  <% if @galerie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@galerie.errors.count, "error") %> prohibited this galery from being saved:</h2>

      <ul>
      <% @galerie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :galerie %><br />
    <%= f.text_field :galerie_name %>
  </div>
  <div class="field">
    <%= f.label :short_desc %><br />
    <%= f.text_field :short_desc %>
  </div>
  <div class="field">
    <%= f.label :date_galerie %><br />
    <%= f.datetime_select :date_galerie %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
