<h1>Listing galeries</h1>

<table>
  <tr>
    <th>Galerie Name</th>
    <th>Short desc</th>
    <th>Date galerie</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @galeries.each do |galery| %>
  <tr>
    <td><%= galery.galerie_name %></td>
    <td><%= galery.short_desc %></td>
    <td><%= galery.date_galerie %></td>
    <td><%= link_to 'Show', galery %></td>
    <td><%= link_to 'Edit', edit_galery_path(galery) %></td>
    <td><%= link_to 'Destroy', galery, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Galerie', new_galery_path %>
