<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Kurshalter</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Segeln Kurshalter Barfussroute Weltumseglung" />
        <meta name="keywords" content="Segeln, Kurshalter, Barfussroute, Weltumseglung"/>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
        
        <%= stylesheet_link_tag "kurshalter/style" %>

        <style>
			body{
				background:#333 url(bg.jpg) repeat top left;
				font-family:Arial;
			}
			span.reference{
				position:fixed;
				left:10px;
				bottom:10px;
				font-size:12px;
			}
			span.reference a{
				color:#aaa;
				text-transform:uppercase;
				text-decoration:none;
				text-shadow:1px 1px 1px #000;
				margin-right:30px;
			}
			span.reference a:hover{
				color:#ddd;
			}
			ul.sdt_menu{
				margin-top:100px;
			}
			h1.title{
				text-indent:-9000px;
				background:transparent url(title.png) no-repeat top left;
				width:633px;
				height:69px;
                  }
			.ueber{
			margin-left:380px;
                        color:#DD5511;
                        text-align:center;
                        font-family: Cooper Black; 
			font-size:70px;
                        font-stretch:expanded;
                   }
			.ueber2{
                        margin-left:30px;
                        color:#ddd;
                        text-align:right;
                        font-family: Cooper Black; 
			font-size:26px;
                        }
			.ueber3{
                        margin-left:140px;
                        color:#ddd;
                        text-align:right;
                        font-family: Comic Sans MS; 
			font-size:20px;
                        }

		</style>
    </head>

    <body>
		<div class="content">
                    <div style="background-image:url(images/kopfbackgr.jpg); no-repeat top left; width:100%;height:58px; margin-top:1px; padding:26px">
                      <p> <span class="ueber">Kurshalter</span><br>
                          <span class="ueber2">yes we sail</span>
                          <span class="ueber3">Die zuk&uuml;nftige Seglerplattform f&uuml;r Unbedarfte, &Auml;ngstliche und  ... Kurshalter</span>
                      </p>
                    </div>			
                       <ul id="sdt_menu" class="sdt_menu">
				<li>
					<a href="#">
						<img src="images/m1.jpg" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">About us</span>
							<span class="sdt_descr">Wer Womit Warum</span>
						</span>
					</a>
					<div class="sdt_box">
							<a href="#">Die Crew</a>
							<a href="#">Das Schiff</a>
							<a <%= link_to 'Kontakt', support_path %></a>
							<a <%= link_to 'Impressum', impressum_path %></a>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="images/m2.jpg" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Unterwegs</span>
							<span class="sdt_descr">Interessantes nebenbei</span>
						</span>
					</a>
					<div class="sdt_box">
							<a href="#">Die Route</a>
							<a href="#">Gourmetatlas</a>
							<a href="#">Ankunft_in..</a>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="images/m3.jpg" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Logbuch</span>
							<span class="sdt_descr">Route in Wort und Bild</span>
						</span>
					</a>
					<div class="sdt_box">
							<a href="#">Logbuch today</a>
							<a href="#">Archiv</a>
							<a href="#">Kostenspiegel</a>
					</div>
				</li>
				<li>
					<a href="/galltm">
						<img src="images/m4.jpg" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Bildgalerie</span>
							<span class="sdt_descr">Bilder sagen mehr als Worte</span>
						</span>
					</a>
					<div class="sdt_box">
                                                        <a <%= link_to 'aktuell', galltm_path %></a>
							<a <%= link_to 'Archiv', galtable_path %></a>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="images/m5.jpg" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Community</span>
							<span class="sdt_descr">Meinungen und Austausch</span>
						</span>
					</a>
					<div class="sdt_box">
						<a href="#">Gaestebuch</a>
						<a href="#">Forum</a>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="images/m6.jpg" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Technik</span>
							<span class="sdt_descr">Helfer und Plage</span>
						</span>
					</a>
					<div class="sdt_box">
						<a href="#">Vermisstes</a>
						<a href="#">Nuetzliches</a>
						<a href="#">Defektes</a>
					</div>
				</li>
			</ul>
		</div>
        <div>


            <span class="reference">
              <div style="background-color:#ffffff; filter:alpha(opacity=40); opacity:0.4; width:940px; height:190px; margin:30px 50px">
               
                 <p style="margin:10px 40px; font-family: Snap ITC; font-size:30px; font-weight:bold; text-align:center; color:#000000">make a difference</p>

                 <p style="margin:30px 40px; font-size:18px; font-weight:bold; text-align:center; color:#0000FF">Das Leben wird nicht gemessen</br>an der Anzahl unserer Atemz&uuml;ge,<br>sondern</br>an der Anzahl der Augenblicke,</br>die uns den Atem rauben</p>
              </div>
                <a <%= link_to 'Kontakt', support_path %></a>
		<a <%= link_to 'Impressum', impressum_path %></a>
            </span>
		</div>

        <!-- The JavaScript -->
        <%= javascript_include_tag "jquery-1.4.2.min" %>
        <%= javascript_include_tag "kurshalter/jquery.easing.1.3" %>

        <script type="text/javascript">
         var $j = jQuery.noConflict();
            $j(function() {
				/**
				* for each menu element, on mouseenter, 
				* we enlarge the image, and show both sdt_active span and 
				* sdt_wrap span. If the element has a sub menu (sdt_box),
				* then we slide it - if the element is the last one in the menu
				* we slide it to the left, otherwise to the right
				*/
                $j('#sdt_menu > li').bind('mouseenter',function(){
					var $elem = $j(this);
					$elem.find('img')
						 .stop(true)
						 .animate({
							'width':'170px',
							'height':'170px',
							'left':'0px'
						 },400,'easeOutBack')
						 .andSelf()
						 .find('.sdt_wrap')
					     .stop(true)
						 .animate({'top':'140px'},500,'easeOutBack')
						 .andSelf()
						 .find('.sdt_active')
					     .stop(true)
						 .animate({'height':'170px'},300,function(){
						var $sub_menu = $elem.find('.sdt_box');
						if($sub_menu.length){
							var left = '170px';
							if($elem.parent().children().length == $elem.index()+1)
								left = '-170px';
							$sub_menu.show().animate({'left':left},200);
						}	
					});
				}).bind('mouseleave',function(){
					var $elem = $j(this);
					var $sub_menu = $elem.find('.sdt_box');
					if($sub_menu.length)
						$sub_menu.hide().css('left','0px');
					
					$elem.find('.sdt_active')
						 .stop(true)
						 .animate({'height':'0px'},300)
						 .andSelf().find('img')
						 .stop(true)
						 .animate({
							'width':'0px',
							'height':'0px',
							'left':'85px'},400)
						 .andSelf()
						 .find('.sdt_wrap')
						 .stop(true)
						 .animate({'top':'25px'},500);
				});
            });
        </script>
    </body>
</html>